# Mercedes-Benz-Greener-Manufacturing Project by Group F
### Objective : 
- To reduce the time that cars spend on the test bench. Work with a dataset representing different permutations of features in a Mercedes-Benz car and create a Machine Learning model to predict the time it takes to pass testing.Optimal algorithms will contribute to faster testing, resulting in lower carbon dioxide emissions without reducing Daimler’s standards.

## Step1: Import the required libraries

In [1]:
# Step 1: Importing the required libraries
import numpy as np
import pandas as pd
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb

## Step2: Read the data from train.csv

In [2]:
# Step 2: Reading the data from train.csv
train_data = pd.read_csv('train.csv')

# Step 2.2: Printing few rows to see how the data looks like
train_data.head(5)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

## Step3: Collect the Y values into an array

In [3]:
target_variable = 'y'
y_values = train_data[target_variable].values
train_data = train_data.drop(['ID', target_variable], axis=1)

## Step4: Understand the data types we have

In [4]:
# Step 4: Understanding the data types we have
# Step 4.1: Iterating through all the columns which have X in the name of the column
for col in train_data.columns:
    if 'X' in col:
        print(f'Data type of {col}: {train_data[col].dtype}')

Data type of X0: object
Data type of X1: object
Data type of X2: object
Data type of X3: object
Data type of X4: object
Data type of X5: object
Data type of X6: object
Data type of X8: object
Data type of X10: int64
Data type of X11: int64
Data type of X12: int64
Data type of X13: int64
Data type of X14: int64
Data type of X15: int64
Data type of X16: int64
Data type of X17: int64
Data type of X18: int64
Data type of X19: int64
Data type of X20: int64
Data type of X21: int64
Data type of X22: int64
Data type of X23: int64
Data type of X24: int64
Data type of X26: int64
Data type of X27: int64
Data type of X28: int64
Data type of X29: int64
Data type of X30: int64
Data type of X31: int64
Data type of X32: int64
Data type of X33: int64
Data type of X34: int64
Data type of X35: int64
Data type of X36: int64
Data type of X37: int64
Data type of X38: int64
Data type of X39: int64
Data type of X40: int64
Data type of X41: int64
Data type of X42: int64
Data type of X43: int64
Data type of X44: int64
Data type of X45: int64
Data type of X46: int64
Data type of X47: int64
Data type of X48: int64
Data type of X49: int64
Data type of X50: int64
Data type of X51: int64
Data type of X52: int64
Data type of X53: int64
Data type of X54: int64
Data type of X55: int64
Data type of X56: int64
Data type of X57: int64
Data type of X58: int64
Data type of X59: int64
Data type of X60: int64
Data type of X61: int64
Data type of X62: int64
Data type of X63: int64
Data type of X64: int64
Data type of X65: int64
Data type of X66: int64
Data type of X67: int64
Data type of X68: int64
Data type of X69: int64
Data type of X70: int64
Data type of X71: int64
Data type of X73: int64
Data type of X74: int64
Data type of X75: int64
Data type of X76: int64
Data type of X77: int64
Data type of X78: int64
Data type of X79: int64
Data type of X80: int64
Data type of X81: int64
Data type of X82: int64
Data type of X83: int64
Data type of X84: int64
Data type of X85: int64
Data type of X86: int64
Data type of X87: int64
Data type of X88: int64
Data type of X89: int64
Data type of X90: int64
Data type of X91: int64
Data type of X92: int64
Data type of X93: int64
Data type of X94: int64
Data type of X95: int64
Data type of X96: int64
Data type of X97: int64
Data type of X98: int64
Data type of X99: int64
Data type of X100: int64
Data type of X101: int64
Data type of X102: int64
Data type of X103: int64
Data type of X104: int64
Data type of X105: int64
Data type of X106: int64
Data type of X107: int64
Data type of X108: int64
Data type of X109: int64
Data type of X110: int64
Data type of X111: int64
Data type of X112: int64
Data type of X113: int64
Data type of X114: int64
Data type of X115: int64
Data type of X116: int64
Data type of X117: int64
Data type of X118: int64
Data type of X119: int64
Data type of X120: int64
Data type of X122: int64
Data type of X123: int64
Data type of X124: int64
Data type of X125: int64
Data type of X126: int64
Data type of X127: int64
Data type of X128: int64
Data type of X129: int64
Data type of X130: int64
Data type of X131: int64
Data type of X132: int64
Data type of X133: int64
Data type of X134: int64
Data type of X135: int64
Data type of X136: int64
Data type of X137: int64
Data type of X138: int64
Data type of X139: int64
Data type of X140: int64
Data type of X141: int64
Data type of X142: int64
Data type of X143: int64
Data type of X144: int64
Data type of X145: int64
Data type of X146: int64
Data type of X147: int64
Data type of X148: int64
Data type of X150: int64
Data type of X151: int64
Data type of X152: int64
Data type of X153: int64
Data type of X154: int64
Data type of X155: int64
Data type of X156: int64
Data type of X157: int64
Data type of X158: int64
Data type of X159: int64
Data type of X160: int64
Data type of X161: int64
Data type of X162: int64
Data type of X163: int64
Data type of X164: int64
Data type of X165: int64
Data type of X166: int64
Data type of X167: int64
Data type of X168: int64
Data type of X169: int64
Data type of X170: int64
Data type of X171: int64
Data type of X172: int64
Data type of X173: int64
Data type of X174: int64
Data type of X175: int64
Data type of X176: int64
Data type of X177: int64
Data type of X178: int64
Data type of X179: int64
Data type of X180: int64
Data type of X181: int64
Data type of X182: int64
Data type of X183: int64
Data type of X184: int64
Data type of X185: int64
Data type of X186: int64
Data type of X187: int64
Data type of X189: int64
Data type of X190: int64
Data type of X191: int64
Data type of X192: int64
Data type of X194: int64
Data type of X195: int64
Data type of X196: int64
Data type of X197: int64
Data type of X198: int64
Data type of X199: int64
Data type of X200: int64
Data type of X201: int64
Data type of X202: int64
Data type of X203: int64
Data type of X204: int64
Data type of X205: int64
Data type of X206: int64
Data type of X207: int64
Data type of X208: int64
Data type of X209: int64
Data type of X210: int64
Data type of X211: int64
Data type of X212: int64
Data type of X213: int64
Data type of X214: int64
Data type of X215: int64
Data type of X216: int64
Data type of X217: int64
Data type of X218: int64
Data type of X219: int64
Data type of X220: int64
Data type of X221: int64
Data type of X222: int64
Data type of X223: int64
Data type of X224: int64
Data type of X225: int64
Data type of X226: int64
Data type of X227: int64
Data type of X228: int64
Data type of X229: int64
Data type of X230: int64
Data type of X231: int64
Data type of X232: int64
Data type of X233: int64
Data type of X234: int64
Data type of X235: int64
Data type of X236: int64
Data type of X237: int64
Data type of X238: int64
Data type of X239: int64
Data type of X240: int64
Data type of X241: int64
Data type of X242: int64
Data type of X243: int64
Data type of X244: int64
Data type of X245: int64
Data type of X246: int64
Data type of X247: int64
Data type of X248: int64
Data type of X249: int64
Data type of X250: int64
Data type of X251: int64
Data type of X252: int64
Data type of X253: int64
Data type of X254: int64
Data type of X255: int64
Data type of X256: int64
Data type of X257: int64
Data type of X258: int64
Data type of X259: int64
Data type of X260: int64
Data type of X261: int64
Data type of X262: int64
Data type of X263: int64
Data type of X264: int64
Data type of X265: int64
Data type of X266: int64
Data type of X267: int64
Data type of X268: int64
Data type of X269: int64
Data type of X270: int64
Data type of X271: int64
Data type of X272: int64
Data type of X273: int64
Data type of X274: int64
Data type of X275: int64
Data type of X276: int64
Data type of X277: int64
Data type of X278: int64
Data type of X279: int64
Data type of X280: int64
Data type of X281: int64
Data type of X282: int64
Data type of X283: int64
Data type of X284: int64
Data type of X285: int64
Data type of X286: int64
Data type of X287: int64
Data type of X288: int64
Data type of X289: int64
Data type of X290: int64
Data type of X291: int64
Data type of X292: int64
Data type of X293: int64
Data type of X294: int64
Data type of X295: int64
Data type of X296: int64
Data type of X297: int64
Data type of X298: int64
Data type of X299: int64
Data type of X300: int64
Data type of X301: int64
Data type of X302: int64
Data type of X304: int64
Data type of X305: int64
Data type of X306: int64
Data type of X307: int64
Data type of X308: int64
Data type of X309: int64
Data type of X310: int64
Data type of X311: int64
Data type of X312: int64
Data type of X313: int64
Data type of X314: int64
Data type of X315: int64
Data type of X316: int64
Data type of X317: int64
Data type of X318: int64
Data type of X319: int64
Data type of X320: int64
Data type of X321: int64
Data type of X322: int64
Data type of X323: int64
Data type of X324: int64
Data type of X325: int64
Data type of X326: int64
Data type of X327: int64
Data type of X328: int64
Data type of X329: int64
Data type of X330: int64
Data type of X331: int64
Data type of X332: int64
Data type of X333: int64
Data type of X334: int64
Data type of X335: int64
Data type of X336: int64
Data type of X337: int64
Data type of X338: int64
Data type of X339: int64
Data type of X340: int64
Data type of X341: int64
Data type of X342: int64
Data type of X343: int64
Data type of X344: int64
Data type of X345: int64
Data type of X346: int64
Data type of X347: int64
Data type of X348: int64
Data type of X349: int64
Data type of X350: int64
Data type of X351: int64
Data type of X352: int64
Data type of X353: int64
Data type of X354: int64
Data type of X355: int64
Data type of X356: int64
Data type of X357: int64
Data type of X358: int64
Data type of X359: int64
Data type of X360: int64
Data type of X361: int64
Data type of X362: int64
Data type of X363: int64
Data type of X364: int64
Data type of X365: int64
Data type of X366: int64
Data type of X367: int64
Data type of X368: int64
Data type of X369: int64
Data type of X370: int64
Data type of X371: int64
Data type of X372: int64
Data type of X373: int64
Data type of X374: int64
Data type of X375: int64
Data type of X376: int64
Data type of X377: int64
Data type of X378: int64
Data type of X379: int64
Data type of X380: int64
Data type of X382: int64
Data type of X383: int64
Data type of X384: int64
Data type of X385: int64

## Step5: Count the data in each of the columns

### 5.1 Counting total number of values in every columns

In [5]:
for col in train_data.columns:
    if 'X' in col:
        print(f'Count of unique values in column {col}: {len(train_data[col])}')

Count of unique values in column X0: 4209
Count of unique values in column X1: 4209
Count of unique values in column X2: 4209
Count of unique values in column X3: 4209
Count of unique values in column X4: 4209
Count of unique values in column X5: 4209
Count of unique values in column X6: 4209
Count of unique values in column X8: 4209
Count of unique values in column X10: 4209
Count of unique values in column X11: 4209
Count of unique values in column X12: 4209
Count of unique values in column X13: 4209
Count of unique values in column X14: 4209
Count of unique values in column X15: 4209
Count of unique values in column X16: 4209
Count of unique values in column X17: 4209
Count of unique values in column X18: 4209
Count of unique values in column X19: 4209
Count of unique values in column X20: 4209
Count of unique values in column X21: 4209
Count of unique values in column X22: 4209
Count of unique values in column X23: 4209
Count of unique values in column X24: 4209
Count of unique values in column X26: 4209
Count of unique values in column X27: 4209
Count of unique values in column X28: 4209
Count of unique values in column X29: 4209
Count of unique values in column X30: 4209
Count of unique values in column X31: 4209
Count of unique values in column X32: 4209
Count of unique values in column X33: 4209
Count of unique values in column X34: 4209
Count of unique values in column X35: 4209
Count of unique values in column X36: 4209
Count of unique values in column X37: 4209
Count of unique values in column X38: 4209
Count of unique values in column X39: 4209
Count of unique values in column X40: 4209
Count of unique values in column X41: 4209
Count of unique values in column X42: 4209
Count of unique values in column X43: 4209
Count of unique values in column X44: 4209
Count of unique values in column X45: 4209
Count of unique values in column X46: 4209
Count of unique values in column X47: 4209
Count of unique values in column X48: 4209
Count of unique values in column X49: 4209
Count of unique values in column X50: 4209
Count of unique values in column X51: 4209
Count of unique values in column X52: 4209
Count of unique values in column X53: 4209
Count of unique values in column X54: 4209
Count of unique values in column X55: 4209
Count of unique values in column X56: 4209
Count of unique values in column X57: 4209
Count of unique values in column X58: 4209
Count of unique values in column X59: 4209
Count of unique values in column X60: 4209
Count of unique values in column X61: 4209
Count of unique values in column X62: 4209
Count of unique values in column X63: 4209
Count of unique values in column X64: 4209
Count of unique values in column X65: 4209
Count of unique values in column X66: 4209
Count of unique values in column X67: 4209
Count of unique values in column X68: 4209
Count of unique values in column X69: 4209
Count of unique values in column X70: 4209
Count of unique values in column X71: 4209
Count of unique values in column X73: 4209
Count of unique values in column X74: 4209
Count of unique values in column X75: 4209
Count of unique values in column X76: 4209
Count of unique values in column X77: 4209
Count of unique values in column X78: 4209
Count of unique values in column X79: 4209
Count of unique values in column X80: 4209
Count of unique values in column X81: 4209
Count of unique values in column X82: 4209
Count of unique values in column X83: 4209
Count of unique values in column X84: 4209
Count of unique values in column X85: 4209
Count of unique values in column X86: 4209
Count of unique values in column X87: 4209
Count of unique values in column X88: 4209
Count of unique values in column X89: 4209
Count of unique values in column X90: 4209
Count of unique values in column X91: 4209
Count of unique values in column X92: 4209
Count of unique values in column X93: 4209
Count of unique values in column X94: 4209
Count of unique values in column X95: 4209
Count of unique values in column X96: 4209
Count of unique values in column X97: 4209
Count of unique values in column X98: 4209
Count of unique values in column X99: 4209
Count of unique values in column X100: 4209
Count of unique values in column X101: 4209
Count of unique values in column X102: 4209
Count of unique values in column X103: 4209
Count of unique values in column X104: 4209
Count of unique values in column X105: 4209
Count of unique values in column X106: 4209
Count of unique values in column X107: 4209
Count of unique values in column X108: 4209
Count of unique values in column X109: 4209
Count of unique values in column X110: 4209
Count of unique values in column X111: 4209
Count of unique values in column X112: 4209
Count of unique values in column X113: 4209
Count of unique values in column X114: 4209
Count of unique values in column X115: 4209
Count of unique values in column X116: 4209
Count of unique values in column X117: 4209
Count of unique values in column X118: 4209
Count of unique values in column X119: 4209
Count of unique values in column X120: 4209
Count of unique values in column X122: 4209
Count of unique values in column X123: 4209
Count of unique values in column X124: 4209
Count of unique values in column X125: 4209
Count of unique values in column X126: 4209
Count of unique values in column X127: 4209
Count of unique values in column X128: 4209
Count of unique values in column X129: 4209
Count of unique values in column X130: 4209
Count of unique values in column X131: 4209
Count of unique values in column X132: 4209
Count of unique values in column X133: 4209
Count of unique values in column X134: 4209
Count of unique values in column X135: 4209
Count of unique values in column X136: 4209
Count of unique values in column X137: 4209
Count of unique values in column X138: 4209
Count of unique values in column X139: 4209
Count of unique values in column X140: 4209
Count of unique values in column X141: 4209
Count of unique values in column X142: 4209
Count of unique values in column X143: 4209
Count of unique values in column X144: 4209
Count of unique values in column X145: 4209
Count of unique values in column X146: 4209
Count of unique values in column X147: 4209
Count of unique values in column X148: 4209
Count of unique values in column X150: 4209
Count of unique values in column X151: 4209
Count of unique values in column X152: 4209
Count of unique values in column X153: 4209
Count of unique values in column X154: 4209
Count of unique values in column X155: 4209
Count of unique values in column X156: 4209
Count of unique values in column X157: 4209
Count of unique values in column X158: 4209
Count of unique values in column X159: 4209
Count of unique values in column X160: 4209
Count of unique values in column X161: 4209
Count of unique values in column X162: 4209
Count of unique values in column X163: 4209
Count of unique values in column X164: 4209
Count of unique values in column X165: 4209
Count of unique values in column X166: 4209
Count of unique values in column X167: 4209
Count of unique values in column X168: 4209
Count of unique values in column X169: 4209
Count of unique values in column X170: 4209
Count of unique values in column X171: 4209
Count of unique values in column X172: 4209
Count of unique values in column X173: 4209
Count of unique values in column X174: 4209
Count of unique values in column X175: 4209
Count of unique values in column X176: 4209
Count of unique values in column X177: 4209
Count of unique values in column X178: 4209
Count of unique values in column X179: 4209
Count of unique values in column X180: 4209
Count of unique values in column X181: 4209
Count of unique values in column X182: 4209
Count of unique values in column X183: 4209
Count of unique values in column X184: 4209
Count of unique values in column X185: 4209
Count of unique values in column X186: 4209
Count of unique values in column X187: 4209
Count of unique values in column X189: 4209
Count of unique values in column X190: 4209
Count of unique values in column X191: 4209
Count of unique values in column X192: 4209
Count of unique values in column X194: 4209
Count of unique values in column X195: 4209
Count of unique values in column X196: 4209
Count of unique values in column X197: 4209
Count of unique values in column X198: 4209
Count of unique values in column X199: 4209
Count of unique values in column X200: 4209
Count of unique values in column X201: 4209
Count of unique values in column X202: 4209
Count of unique values in column X203: 4209
Count of unique values in column X204: 4209
Count of unique values in column X205: 4209
Count of unique values in column X206: 4209
Count of unique values in column X207: 4209
Count of unique values in column X208: 4209
Count of unique values in column X209: 4209
Count of unique values in column X210: 4209
Count of unique values in column X211: 4209
Count of unique values in column X212: 4209
Count of unique values in column X213: 4209
Count of unique values in column X214: 4209
Count of unique values in column X215: 4209
Count of unique values in column X216: 4209
Count of unique values in column X217: 4209
Count of unique values in column X218: 4209
Count of unique values in column X219: 4209
Count of unique values in column X220: 4209
Count of unique values in column X221: 4209
Count of unique values in column X222: 4209
Count of unique values in column X223: 4209
Count of unique values in column X224: 4209
Count of unique values in column X225: 4209
Count of unique values in column X226: 4209
Count of unique values in column X227: 4209
Count of unique values in column X228: 4209
Count of unique values in column X229: 4209
Count of unique values in column X230: 4209
Count of unique values in column X231: 4209
Count of unique values in column X232: 4209
Count of unique values in column X233: 4209
Count of unique values in column X234: 4209
Count of unique values in column X235: 4209
Count of unique values in column X236: 4209
Count of unique values in column X237: 4209
Count of unique values in column X238: 4209
Count of unique values in column X239: 4209
Count of unique values in column X240: 4209
Count of unique values in column X241: 4209
Count of unique values in column X242: 4209
Count of unique values in column X243: 4209
Count of unique values in column X244: 4209
Count of unique values in column X245: 4209
Count of unique values in column X246: 4209
Count of unique values in column X247: 4209
Count of unique values in column X248: 4209
Count of unique values in column X249: 4209
Count of unique values in column X250: 4209
Count of unique values in column X251: 4209
Count of unique values in column X252: 4209
Count of unique values in column X253: 4209
Count of unique values in column X254: 4209
Count of unique values in column X255: 4209
Count of unique values in column X256: 4209
Count of unique values in column X257: 4209
Count of unique values in column X258: 4209
Count of unique values in column X259: 4209
Count of unique values in column X260: 4209
Count of unique values in column X261: 4209
Count of unique values in column X262: 4209
Count of unique values in column X263: 4209
Count of unique values in column X264: 4209
Count of unique values in column X265: 4209
Count of unique values in column X266: 4209
Count of unique values in column X267: 4209
Count of unique values in column X268: 4209
Count of unique values in column X269: 4209
Count of unique values in column X270: 4209
Count of unique values in column X271: 4209
Count of unique values in column X272: 4209
Count of unique values in column X273: 4209
Count of unique values in column X274: 4209
Count of unique values in column X275: 4209
Count of unique values in column X276: 4209
Count of unique values in column X277: 4209
Count of unique values in column X278: 4209
Count of unique values in column X279: 4209
Count of unique values in column X280: 4209
Count of unique values in column X281: 4209
Count of unique values in column X282: 4209
Count of unique values in column X283: 4209
Count of unique values in column X284: 4209
Count of unique values in column X285: 4209
Count of unique values in column X286: 4209
Count of unique values in column X287: 4209
Count of unique values in column X288: 4209
Count of unique values in column X289: 4209
Count of unique values in column X290: 4209
Count of unique values in column X291: 4209
Count of unique values in column X292: 4209
Count of unique values in column X293: 4209
Count of unique values in column X294: 4209
Count of unique values in column X295: 4209
Count of unique values in column X296: 4209
Count of unique values in column X297: 4209
Count of unique values in column X298: 4209
Count of unique values in column X299: 4209
Count of unique values in column X300: 4209
Count of unique values in column X301: 4209
Count of unique values in column X302: 4209
Count of unique values in column X304: 4209
Count of unique values in column X305: 4209
Count of unique values in column X306: 4209
Count of unique values in column X307: 4209
Count of unique values in column X308: 4209
Count of unique values in column X309: 4209
Count of unique values in column X310: 4209
Count of unique values in column X311: 4209
Count of unique values in column X312: 4209
Count of unique values in column X313: 4209
Count of unique values in column X314: 4209
Count of unique values in column X315: 4209
Count of unique values in column X316: 4209
Count of unique values in column X317: 4209
Count of unique values in column X318: 4209
Count of unique values in column X319: 4209
Count of unique values in column X320: 4209
Count of unique values in column X321: 4209
Count of unique values in column X322: 4209
Count of unique values in column X323: 4209
Count of unique values in column X324: 4209
Count of unique values in column X325: 4209
Count of unique values in column X326: 4209
Count of unique values in column X327: 4209
Count of unique values in column X328: 4209
Count of unique values in column X329: 4209
Count of unique values in column X330: 4209
Count of unique values in column X331: 4209
Count of unique values in column X332: 4209
Count of unique values in column X333: 4209
Count of unique values in column X334: 4209
Count of unique values in column X335: 4209
Count of unique values in column X336: 4209
Count of unique values in column X337: 4209
Count of unique values in column X338: 4209
Count of unique values in column X339: 4209
Count of unique values in column X340: 4209
Count of unique values in column X341: 4209
Count of unique values in column X342: 4209
Count of unique values in column X343: 4209
Count of unique values in column X344: 4209
Count of unique values in column X345: 4209
Count of unique values in column X346: 4209
Count of unique values in column X347: 4209
Count of unique values in column X348: 4209
Count of unique values in column X349: 4209
Count of unique values in column X350: 4209
Count of unique values in column X351: 4209
Count of unique values in column X352: 4209
Count of unique values in column X353: 4209
Count of unique values in column X354: 4209
Count of unique values in column X355: 4209
Count of unique values in column X356: 4209
Count of unique values in column X357: 4209
Count of unique values in column X358: 4209
Count of unique values in column X359: 4209
Count of unique values in column X360: 4209
Count of unique values in column X361: 4209
Count of unique values in column X362: 4209
Count of unique values in column X363: 4209
Count of unique values in column X364: 4209
Count of unique values in column X365: 4209
Count of unique values in column X366: 4209
Count of unique values in column X367: 4209
Count of unique values in column X368: 4209
Count of unique values in column X369: 4209
Count of unique values in column X370: 4209
Count of unique values in column X371: 4209
Count of unique values in column X372: 4209
Count of unique values in column X373: 4209
Count of unique values in column X374: 4209
Count of unique values in column X375: 4209
Count of unique values in column X376: 4209
Count of unique values in column X377: 4209
Count of unique values in column X378: 4209
Count of unique values in column X379: 4209
Count of unique values in column X380: 4209
Count of unique values in column X382: 4209
Count of unique values in column X383: 4209
Count of unique values in column X384: 4209
Count of unique values in column X385: 4209

### 5.1 Counting unique v alues in every columns

In [6]:
for col in train_data.columns:
    if 'X' in col:
        print(f'Count of unique values in column {col}: {len(train_data[col].unique())}')

Count of unique values in column X0: 47
Count of unique values in column X1: 27
Count of unique values in column X2: 44
Count of unique values in column X3: 7
Count of unique values in column X4: 4
Count of unique values in column X5: 29
Count of unique values in column X6: 12
Count of unique values in column X8: 25
Count of unique values in column X10: 2
Count of unique values in column X11: 1
Count of unique values in column X12: 2
Count of unique values in column X13: 2
Count of unique values in column X14: 2
Count of unique values in column X15: 2
Count of unique values in column X16: 2
Count of unique values in column X17: 2
Count of unique values in column X18: 2
Count of unique values in column X19: 2
Count of unique values in column X20: 2
Count of unique values in column X21: 2
Count of unique values in column X22: 2
Count of unique values in column X23: 2
Count of unique values in column X24: 2
Count of unique values in column X26: 2
Count of unique values in column X27: 2
Count of unique values in column X28: 2
Count of unique values in column X29: 2
Count of unique values in column X30: 2
Count of unique values in column X31: 2
Count of unique values in column X32: 2
Count of unique values in column X33: 2
Count of unique values in column X34: 2
Count of unique values in column X35: 2
Count of unique values in column X36: 2
Count of unique values in column X37: 2
Count of unique values in column X38: 2
Count of unique values in column X39: 2
Count of unique values in column X40: 2
Count of unique values in column X41: 2
Count of unique values in column X42: 2
Count of unique values in column X43: 2
Count of unique values in column X44: 2
Count of unique values in column X45: 2
Count of unique values in column X46: 2
Count of unique values in column X47: 2
Count of unique values in column X48: 2
Count of unique values in column X49: 2
Count of unique values in column X50: 2
Count of unique values in column X51: 2
Count of unique values in column X52: 2
Count of unique values in column X53: 2
Count of unique values in column X54: 2
Count of unique values in column X55: 2
Count of unique values in column X56: 2
Count of unique values in column X57: 2
Count of unique values in column X58: 2
Count of unique values in column X59: 2
Count of unique values in column X60: 2
Count of unique values in column X61: 2
Count of unique values in column X62: 2
Count of unique values in column X63: 2
Count of unique values in column X64: 2
Count of unique values in column X65: 2
Count of unique values in column X66: 2
Count of unique values in column X67: 2
Count of unique values in column X68: 2
Count of unique values in column X69: 2
Count of unique values in column X70: 2
Count of unique values in column X71: 2
Count of unique values in column X73: 2
Count of unique values in column X74: 2
Count of unique values in column X75: 2
Count of unique values in column X76: 2
Count of unique values in column X77: 2
Count of unique values in column X78: 2
Count of unique values in column X79: 2
Count of unique values in column X80: 2
Count of unique values in column X81: 2
Count of unique values in column X82: 2
Count of unique values in column X83: 2
Count of unique values in column X84: 2
Count of unique values in column X85: 2
Count of unique values in column X86: 2
Count of unique values in column X87: 2
Count of unique values in column X88: 2
Count of unique values in column X89: 2
Count of unique values in column X90: 2
Count of unique values in column X91: 2
Count of unique values in column X92: 2
Count of unique values in column X93: 1
Count of unique values in column X94: 2
Count of unique values in column X95: 2
Count of unique values in column X96: 2
Count of unique values in column X97: 2
Count of unique values in column X98: 2
Count of unique values in column X99: 2
Count of unique values in column X100: 2
Count of unique values in column X101: 2
Count of unique values in column X102: 2
Count of unique values in column X103: 2
Count of unique values in column X104: 2
Count of unique values in column X105: 2
Count of unique values in column X106: 2
Count of unique values in column X107: 1
Count of unique values in column X108: 2
Count of unique values in column X109: 2
Count of unique values in column X110: 2
Count of unique values in column X111: 2
Count of unique values in column X112: 2
Count of unique values in column X113: 2
Count of unique values in column X114: 2
Count of unique values in column X115: 2
Count of unique values in column X116: 2
Count of unique values in column X117: 2
Count of unique values in column X118: 2
Count of unique values in column X119: 2
Count of unique values in column X120: 2
Count of unique values in column X122: 2
Count of unique values in column X123: 2
Count of unique values in column X124: 2
Count of unique values in column X125: 2
Count of unique values in column X126: 2
Count of unique values in column X127: 2
Count of unique values in column X128: 2
Count of unique values in column X129: 2
Count of unique values in column X130: 2
Count of unique values in column X131: 2
Count of unique values in column X132: 2
Count of unique values in column X133: 2
Count of unique values in column X134: 2
Count of unique values in column X135: 2
Count of unique values in column X136: 2
Count of unique values in column X137: 2
Count of unique values in column X138: 2
Count of unique values in column X139: 2
Count of unique values in column X140: 2
Count of unique values in column X141: 2
Count of unique values in column X142: 2
Count of unique values in column X143: 2
Count of unique values in column X144: 2
Count of unique values in column X145: 2
Count of unique values in column X146: 2
Count of unique values in column X147: 2
Count of unique values in column X148: 2
Count of unique values in column X150: 2
Count of unique values in column X151: 2
Count of unique values in column X152: 2
Count of unique values in column X153: 2
Count of unique values in column X154: 2
Count of unique values in column X155: 2
Count of unique values in column X156: 2
Count of unique values in column X157: 2
Count of unique values in column X158: 2
Count of unique values in column X159: 2
Count of unique values in column X160: 2
Count of unique values in column X161: 2
Count of unique values in column X162: 2
Count of unique values in column X163: 2
Count of unique values in column X164: 2
Count of unique values in column X165: 2
Count of unique values in column X166: 2
Count of unique values in column X167: 2
Count of unique values in column X168: 2
Count of unique values in column X169: 2
Count of unique values in column X170: 2
Count of unique values in column X171: 2
Count of unique values in column X172: 2
Count of unique values in column X173: 2
Count of unique values in column X174: 2
Count of unique values in column X175: 2
Count of unique values in column X176: 2
Count of unique values in column X177: 2
Count of unique values in column X178: 2
Count of unique values in column X179: 2
Count of unique values in column X180: 2
Count of unique values in column X181: 2
Count of unique values in column X182: 2
Count of unique values in column X183: 2
Count of unique values in column X184: 2
Count of unique values in column X185: 2
Count of unique values in column X186: 2
Count of unique values in column X187: 2
Count of unique values in column X189: 2
Count of unique values in column X190: 2
Count of unique values in column X191: 2
Count of unique values in column X192: 2
Count of unique values in column X194: 2
Count of unique values in column X195: 2
Count of unique values in column X196: 2
Count of unique values in column X197: 2
Count of unique values in column X198: 2
Count of unique values in column X199: 2
Count of unique values in column X200: 2
Count of unique values in column X201: 2
Count of unique values in column X202: 2
Count of unique values in column X203: 2
Count of unique values in column X204: 2
Count of unique values in column X205: 2
Count of unique values in column X206: 2
Count of unique values in column X207: 2
Count of unique values in column X208: 2
Count of unique values in column X209: 2
Count of unique values in column X210: 2
Count of unique values in column X211: 2
Count of unique values in column X212: 2
Count of unique values in column X213: 2
Count of unique values in column X214: 2
Count of unique values in column X215: 2
Count of unique values in column X216: 2
Count of unique values in column X217: 2
Count of unique values in column X218: 2
Count of unique values in column X219: 2
Count of unique values in column X220: 2
Count of unique values in column X221: 2
Count of unique values in column X222: 2
Count of unique values in column X223: 2
Count of unique values in column X224: 2
Count of unique values in column X225: 2
Count of unique values in column X226: 2
Count of unique values in column X227: 2
Count of unique values in column X228: 2
Count of unique values in column X229: 2
Count of unique values in column X230: 2
Count of unique values in column X231: 2
Count of unique values in column X232: 2
Count of unique values in column X233: 1
Count of unique values in column X234: 2
Count of unique values in column X235: 1
Count of unique values in column X236: 2
Count of unique values in column X237: 2
Count of unique values in column X238: 2
Count of unique values in column X239: 2
Count of unique values in column X240: 2
Count of unique values in column X241: 2
Count of unique values in column X242: 2
Count of unique values in column X243: 2
Count of unique values in column X244: 2
Count of unique values in column X245: 2
Count of unique values in column X246: 2
Count of unique values in column X247: 2
Count of unique values in column X248: 2
Count of unique values in column X249: 2
Count of unique values in column X250: 2
Count of unique values in column X251: 2
Count of unique values in column X252: 2
Count of unique values in column X253: 2
Count of unique values in column X254: 2
Count of unique values in column X255: 2
Count of unique values in column X256: 2
Count of unique values in column X257: 2
Count of unique values in column X258: 2
Count of unique values in column X259: 2
Count of unique values in column X260: 2
Count of unique values in column X261: 2
Count of unique values in column X262: 2
Count of unique values in column X263: 2
Count of unique values in column X264: 2
Count of unique values in column X265: 2
Count of unique values in column X266: 2
Count of unique values in column X267: 2
Count of unique values in column X268: 1
Count of unique values in column X269: 2
Count of unique values in column X270: 2
Count of unique values in column X271: 2
Count of unique values in column X272: 2
Count of unique values in column X273: 2
Count of unique values in column X274: 2
Count of unique values in column X275: 2
Count of unique values in column X276: 2
Count of unique values in column X277: 2
Count of unique values in column X278: 2
Count of unique values in column X279: 2
Count of unique values in column X280: 2
Count of unique values in column X281: 2
Count of unique values in column X282: 2
Count of unique values in column X283: 2
Count of unique values in column X284: 2
Count of unique values in column X285: 2
Count of unique values in column X286: 2
Count of unique values in column X287: 2
Count of unique values in column X288: 2
Count of unique values in column X289: 1
Count of unique values in column X290: 1
Count of unique values in column X291: 2
Count of unique values in column X292: 2
Count of unique values in column X293: 1
Count of unique values in column X294: 2
Count of unique values in column X295: 2
Count of unique values in column X296: 2
Count of unique values in column X297: 1
Count of unique values in column X298: 2
Count of unique values in column X299: 2
Count of unique values in column X300: 2
Count of unique values in column X301: 2
Count of unique values in column X302: 2
Count of unique values in column X304: 2
Count of unique values in column X305: 2
Count of unique values in column X306: 2
Count of unique values in column X307: 2
Count of unique values in column X308: 2
Count of unique values in column X309: 2
Count of unique values in column X310: 2
Count of unique values in column X311: 2
Count of unique values in column X312: 2
Count of unique values in column X313: 2
Count of unique values in column X314: 2
Count of unique values in column X315: 2
Count of unique values in column X316: 2
Count of unique values in column X317: 2
Count of unique values in column X318: 2
Count of unique values in column X319: 2
Count of unique values in column X320: 2
Count of unique values in column X321: 2
Count of unique values in column X322: 2
Count of unique values in column X323: 2
Count of unique values in column X324: 2
Count of unique values in column X325: 2
Count of unique values in column X326: 2
Count of unique values in column X327: 2
Count of unique values in column X328: 2
Count of unique values in column X329: 2
Count of unique values in column X330: 1
Count of unique values in column X331: 2
Count of unique values in column X332: 2
Count of unique values in column X333: 2
Count of unique values in column X334: 2
Count of unique values in column X335: 2
Count of unique values in column X336: 2
Count of unique values in column X337: 2
Count of unique values in column X338: 2
Count of unique values in column X339: 2
Count of unique values in column X340: 2
Count of unique values in column X341: 2
Count of unique values in column X342: 2
Count of unique values in column X343: 2
Count of unique values in column X344: 2
Count of unique values in column X345: 2
Count of unique values in column X346: 2
Count of unique values in column X347: 1
Count of unique values in column X348: 2
Count of unique values in column X349: 2
Count of unique values in column X350: 2
Count of unique values in column X351: 2
Count of unique values in column X352: 2
Count of unique values in column X353: 2
Count of unique values in column X354: 2
Count of unique values in column X355: 2
Count of unique values in column X356: 2
Count of unique values in column X357: 2
Count of unique values in column X358: 2
Count of unique values in column X359: 2
Count of unique values in column X360: 2
Count of unique values in column X361: 2
Count of unique values in column X362: 2
Count of unique values in column X363: 2
Count of unique values in column X364: 2
Count of unique values in column X365: 2
Count of unique values in column X366: 2
Count of unique values in column X367: 2
Count of unique values in column X368: 2
Count of unique values in column X369: 2
Count of unique values in column X370: 2
Count of unique values in column X371: 2
Count of unique values in column X372: 2
Count of unique values in column X373: 2
Count of unique values in column X374: 2
Count of unique values in column X375: 2
Count of unique values in column X376: 2
Count of unique values in column X377: 2
Count of unique values in column X378: 2
Count of unique values in column X379: 2
Count of unique values in column X380: 2
Count of unique values in column X382: 2
Count of unique values in column X383: 2
Count of unique values in column X384: 2
Count of unique values in column X385: 2

## Step6: Read the test.csv data

In [7]:
# Step 6: Reading the test.csv data
test_data = pd.read_csv('test.csv')
test_data.head(3)

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0

### 6.1: Removing columns ID and Y from the data as they are not used for learning

In [8]:
test_data = test_data.drop(['ID'], axis=1)
test_data.head(3)

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,az,v,n,f,d,t,a,w,0,0,...,0,0,0,1,0,0,0,0,0,0
1,t,b,ai,a,d,b,g,y,0,0,...,0,0,1,0,0,0,0,0,0,0
2,az,v,as,f,d,a,j,j,0,0,...,0,0,0,1,0,0,0,0,0,0

## Step7: Check for null and unique values for test and train sets

In [9]:
print(f'Null values in train set: {train_data.isnull().sum().sum()}')
print(f'Null values in test set: {test_data.isnull().sum().sum()}')

Null values in train set: 0
Null values in test set: 0

## Step8: If for any column(s), the variance is equal to zero, then you need to remove those variable(s)

In [10]:
zero_variance_cols = train_data.select_dtypes(include=['number']).columns[train_data.var() == 0]
train_data = train_data.drop(zero_variance_cols, axis=1)
test_data = test_data.drop(zero_variance_cols, axis=1)

# Combining train and test data for label encoding
combined_data = pd.concat([train_data, test_data])

C:\Users\vishw\AppData\Local\Temp\ipykernel_14680\1112902279.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  zero_variance_cols = train_data.select_dtypes(include=['number']).columns[train_data.var() == 0]

### Step8.1: Apply label encoder

In [11]:
# Step 8.1: Applying label encoder
label_encoder = LabelEncoder()

for col in combined_data.columns:
    if combined_data[col].dtype == 'object':
        try:
            combined_data[col] = label_encoder.fit_transform(combined_data[col])
        except TypeError as e:
            print(f"Error encoding column '{col}': {e}")
            # Handling the mixed data type issue by converting the column to string
            combined_data[col] = combined_data[col].astype(str)
            combined_data[col] = label_encoder.fit_transform(combined_data[col])

In [12]:
zero_variance_cols = combined_data.select_dtypes(include=['number']).columns[combined_data.var() == 0]
combined_data = combined_data.drop(zero_variance_cols, axis=1)

# Splitting the data back into train and test sets
train_data = combined_data.iloc[:len(train_data)]
test_data = combined_data.iloc[len(train_data):]

## Step9: Making sure the data is now changed into numericals

In [13]:
train_data.head(3)

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,37,23,20,0,3,27,9,14,0,0,...,0,0,1,0,0,0,0,0,0,0
1,37,21,22,4,3,31,11,14,0,0,...,1,0,0,0,0,0,0,0,0,0
2,24,24,38,2,3,30,9,23,0,0,...,0,0,0,0,0,0,1,0,0,0

In [14]:
test_data.head(3)

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,24,23,38,5,3,26,0,22,0,0,...,0,0,0,1,0,0,0,0,0,0
1,46,3,9,0,3,9,6,24,0,0,...,0,0,1,0,0,0,0,0,0,0
2,24,23,19,5,3,0,9,9,0,0,...,0,0,0,1,0,0,0,0,0,0

## Step10: Performing dimensionality reduction

### Step10.1: Linear dimensionality reduction using Singular Value Decomposition of the data to project it to a lower dimensional space.

In [15]:
from sklearn.decomposition import TruncatedSVD

# Choosing the number of components for dimensionality reduction
n_components = 10
svd = TruncatedSVD(n_components=n_components, random_state=42)

# Fitting and transforming the data
train_data_svd = svd.fit_transform(train_data)
test_data_svd = svd.transform(test_data)

## Step11: Training using xgboost

In [16]:
from xgboost import XGBRegressor

# Defining the XGBoost model
xgb_model = XGBRegressor()

# Fitting the XGBoost model
xgb_model.fit(train_data_svd, y_values)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

## Step12: Predict your test_df values using xgboost

In [17]:
# Making predictions on the test data
test_predictions = xgb_model.predict(test_data_svd)

# Printing the predicted values
print(test_predictions)

[ 78.244446  94.241684  77.64508  ...  98.49052  114.88821  105.52306 ]